.topNav {
  grid-column: 1/-1;
  grid-row: topNav-start/topNav-end;
  // background-color: $color__green;
  background-color: $color__orange--dark;
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  &__link {
    @extend %link;
  }
  &__button {
    @extend %button;
  }
}
