.book {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: [title-start] max-content[title-end main-start]max-content[main-end description-start]max-content [description-end options-start] max-content[options-end];
  // background-color: pink;
  padding: 2rem;
  max-width: 80%;
  margin: 2rem auto;
  text-transform: capitalize;
  color: $color__white;
  border: 2px solid $color__pink;
  & > * {
    border: 2px solid $color__pink--dark;
    padding: 1rem;
  }
  &__title {
    grid-column: 1/-1;
    grid-row-start: title-start;
    grid-row-end: title-end;
  }
  &__cover {
    grid-column: 1/2;
    grid-row: main-start/main-end;
    width: 20rem;
    height: 20rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
    & img {
      height: 50%;
      cursor: pointer;
      &:hover {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }
    }
  }
  &__wrapper {
    // background-color: gold;
    grid-column: 2/3;
    grid-row: main-start/main-end;
  }
  &__details {
    font-size: 1.5rem;
  }
  &__description {
    grid-column: 1/-1;
    grid-row: description-start/description-end;
  }
  &__options {
    // background-color: green;

    grid-column: 1/-1;
    grid-row: options-start/options-end;
  }
  &__form {
    display: inline-block;
  }
}
.info {
  color: $color__white;
  font-size: 2rem;
  padding: 1rem;
}
