<nav class="sideNav">
  <%menu.forEach(el=>{%>
  <a href="/books/genres/<%=el%>" class="sideNav__link"><%= el%></a>
  <%}) %> <%if(isAuth){%>
  <a href="/books/new" class="sideNav__link">Add new Book</a>
  <%} %>
</nav>
