<nav class="sideNav">
  <%menu.forEach(el=>{%>
  <a href="/books/<%=el%>" class="sideNav__link"><%= el%></a>
  <%}) %> <%if(isAuth){%>
  <a href="/newBook" class="sideNav__link">Add new Book</a>
  <%} %>
</nav>
