<nav class="topNav">
  <%if(!isAuth){ %>
  <a href="/logIn" class="topNav__link">sign in</a>
  <a href="/register" class="topNav__link">sign up</a>
  <%}else{ %>
  <form action="/logOut" method="post">
    <button class="topNav__button">log Out</button>
  </form>
  <% }%>
</nav>
