%link {
  &:link {
    text-decoration: none;
  }
  text-transform: capitalize;
  color: $color__white;
  &:hover {
    color: darken($color__white, 20%);
    transform: scale(1.025);
  }
}
%button {
  @extend %link;
  font-size: 1.5rem;
  border: none;
  cursor: pointer;
  background-color: transparent;
}
