$large: 75em; //1125px
$medium: 56.25em; //900px
$small: 37.5em; //600px
$x-small: 25em; //400px

$font__size--main: 1.2rem;
$color__white: #fff;
$color__orange: orange;
$color__orange--dark: orangered;
$color__pink: pink;
$color__pink--dark: rgb(224, 138, 152);
$color__purple: purple;
$color__green: green;
$color__red: red;
